body {
    background-color: rgb(123, 123, 169);
}
div {
    color: black;
    font-size: 21px;
    text-align: center;
}
input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
}

infom {
    text-align: center;
    color: black;
}